<html>
	<h2>Daily report for <b>{{ name }}</b></p>

	<h3>Figures</h3>

	<table width="100%">
	    <tr>
	        <td>Yesterday's ({{ sales_end }}) sales:</td>
	        <td>{{ last_reported_sales_total }}</td>
	    </tr>
	    <tr>
	        <td>Yesterday's ({{ sales_end }}) upgrades:</td>
	        <td>{{ last_reported_upgrades_total }}</td>
	    </tr>
	    <tr>
	        <td>Total number of sales ({{ sales_start }} to {{ sales_end }}):</td>
	        <td>{{ sales_total }}</td>
	    </tr>
		{% ifnotequal upgrades_total '0' %}
	    <tr>
	        <td>Total number of upgrades ({{ upgrades_start }} to {{ upgrades_end }}):</td>
	        <td>{{ upgrades_total }}</td>
	    </tr>
	    <tr>
	        <td>Upgrade rate (over base of {{ upgrade_base }}):</td>
	        <td>{{ upgrade_rate }}</td>
	    </tr>
		{% endifnotequal %}
	    <tr>
	        <td>Approximate total income revenue ({{ currency }}):</td>
	        <td>${{ sales_total_revenue }}</td>
	    </tr>
	</table>
	<h3>Rankings (as of {{ rankings_pull_date }} UTC):</h3>

	{% if rankings %}
		<table width="100%">
			<tr align="left">
				<th>Country</th>
				<th>Category</th>
				<th>Ranking</th>
			</tr>
			{% for ranking in rankings %}
			<tr>
				<td>{{ ranking.country }}</td>
				<td>{{ ranking.category }}</td>
				<td>{{ ranking.ranking }}</td>
			</tr>
			{% endfor %}
		</table>
	{% else %}
		<p><i>No rankings available.</i></p>
	{% endif %}

	<h3>Ratings</h3>
	{% if ratings %}
		{% for rating in ratings %}
			<p><b>{{ rating.country }} - {{ rating.total_stars}} Stars ({{ rating.total_ratings }})</b></p>
			<table width="100%">
			    <tr>
			        <td>5 Stars</td>
					<td>{{ rating.five_star_count }}</td>
			    </tr>
			    <tr>
			        <td>4 Stars</td>
					<td>{{ rating.four_star_count }}</td>
			    </tr>
			    <tr>
			        <td>3 Stars</td>
					<td>{{ rating.three_star_count }}</td>
			    </tr>
			    <tr>
			        <td>2 Stars</td>
					<td>{{ rating.two_star_count }}</td>
			    </tr>
			    <tr>
			        <td>1 Star</td>
					<td>{{ rating.one_star_count }}</td>
			    </tr>
			</table>
		{% endfor %}
	{% else %}
		<p><i>No ratings available</i></p>
	{% endif %}

	<h3>Graphs</h3>
	<h4>Overall Sales and Upgrades</h4>
	{% if overall_chart_url %}
		<img src="{{ overall_chart_url }}"/ >
	{% else %}
		<p><i>Not enough data for chart generation.</i></p>
	{% endif %}
		<br />

	<h4>Previous Fortnight's Sales and Upgrades</h4>
	{% if concentrated_chart_url %}
		<img src="{{ concentrated_chart_url }}" />
	{% else %}
		<p><i>Not enough data for chart generation.</i></p>
	{% endif %}

</html>
